*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  list-style: none;  
}
body{  
  font-family: Roboto,Roboto Thin,Generica, sans-serif;  
  background-image: url("../img/studentBG.png");
  background-size: cover;
  font-size: 100%;
  background-attachment: fixed;
  width: auto;
  min-height: 100%;
}
nav{
  background: #f8f8f8;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15 ),
              0 3px 6px rgba(0, 0, 0, .23);
  width: auto;
  z-index: 3;
  position: sticky;
  top: 0px;
  left: 0px;
}
nav:before{
  min-height: 100%;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav h2{
  font-family: Roboto Regular, sans-serif;
  font-weight: inherit;
  font-size: 140%;
  margin-bottom: 0px;
  letter-spacing: 6px;
  color: #124254;
}
nav h3{
  margin-top: 0px;
  color: #124254;
  padding-top: 5px;
  font-weight: inherit;
  font-size: 170%;
  margin-bottom: 0px;
  letter-spacing: 6px;
  font-family: Generica regular, sans-serif;
}
nav .Alogo{
  float: left;
  position: relative;
  line-height: 80px;
  margin-top: 5px;
  margin-left: 40px;
  font-weight: 600;
}
nav ul{
  float: right;
  padding: 0;
  height: 80px;
  /* margin-right: 40px; */
  margin-bottom: 0;
  list-style: none;
  position: relative;
  text-align: center;
  z-index: 4;
}
nav ul li{
  float: left;
  display: inline-block;
  height: 80px;
  background: #f8f8f8;
  text-align: center;
  /* margin: 0 5px; */
  width: 150px;
}
nav ul li a{
  color: black;
  line-height: 70px;
  text-decoration: none;
  font-size: 1.6em;
  padding: 8px 15px;
  letter-spacing: 1px;
  font-family: Roboto Light, sans-serif;
}
nav ul li a:visited {
  color: black;
  text-decoration: none;
}
nav ul li a:hover{
  color: black;
  text-decoration: none;
}
nav ul li a:active{
  text-decoration: none;
}
nav ul li:hover{
  background-color: #fece4b;
}
nav ul li a:active {
  color: green;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid #18566e;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul li{
 height: 50px;
 position: relative;
 margin: 0px;
 float: none;
 display: list-item;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul li a.Aelec-text{
  font-size: 1.2em;
}
nav ul ul li .logout::before {
  content: "\f2f5";
  font-family: "Font Awesome 5 Free";
  padding: 0 10px 0 0;
}
nav ul ul li a:link{
  color:rgb(0, 0, 0);
}
nav ul ul li a:visited {
  color: white;
  text-decoration: none;
}
nav ul ul li a:hover{
  color: white;
  box-shadow: none;
  text-decoration: none;
}
nav ul ul li:hover{
  background-color: #124254;
  text-decoration: none;
}
nav ul ul li a:active{
  color: #1b1b1b;
  box-shadow: none;
  text-decoration: none;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  background: #18566e;
  position: relative;
  margin: 0px;
  width: 150px;
  font-size: 0.8em;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  z-index: 1;
}
nav ul ul li a{
  color: black;
  line-height: 50px;
  font-family: Roboto bold, sans-serif;
}
nav ul ul ul li{
  position: relative;
  font-size: 1em;
  top: -60px;
  left: 150px;
}
.Ashow,.Aicon,input{
  display: none;
}
nav img.Auser-profile{
  margin-top: 0;
  height: 40px;
  width: 40px;
}
/* .fa-plus{
  font-size: 15px;
  margin-left: 40px;
} */

@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    margin-left: 0px;
    float: left;
  }
  /* nav .logo{
    padding-left: 30px;
    width: auto;
    float: left;
  } */
  .Ashow + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    border-top: 3px solid #18566e;
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }

  .Ashow{
    display: block;
    background-color: #18566e;
    color: white;
    font-size: 1.2em;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .Ashow:hover{
    color:white;
  }
  .Aicon{
    display: block;
    color:  black;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    border-bottom: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    left: 0;
  }
  /* nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  } */
  [id^=btn]:checked + ul{
    width: 100%;
    left: 0;
    display: block;
  }
  nav ul ul li{
    border-top: 0px;
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
  
}

#F-header{
  font-family: Generica regular, sans-serif;
  color: #124254;
  font-weight: inherit;
  font-size: 30px;
  position: relative;
  z-index: -1;
  letter-spacing: 2px;
  margin-top: 50px;
}

#F-container{
  width:900px;
  border:3px;
  border-radius: 30px;
  background-color:#eeeeee;
  margin:0 auto;
  margin-top:40px;
  position: relative;
  box-shadow: 3px 3px 15px 0;
}

.candidate-box{
  display: flex;
  flex-direction: row;
  width: 900px;
  padding: 20px;
}

.candidate-box > div{
  width: 900px;
  margin: auto;
}

.candidate-info{
  margin-top: 20px;
  display: inline-block;
  align-items: center;
}

#F-position{
  width: 100%;
  font-size: 22px;
  text-indent: 25px;
  color: #124254;
  padding:5px 0;
  font-weight: 500;
  font-family: 20px Roboto light sans-serif;
}

hr{
  border: 1px solid #888282;
}

#F-CandidateName{
  font-size: 18px;
  color: #124254;
  font-weight: 900;
  font-family: Roboto regular, sans-serif;
}

#F-GradeSection{
  font-size: 16px;
  color: #124254;
  font-weight: 500;
  font-family: Roboto regular, sans-serif;
}

#F-Partylist{
  font-size: 16px;
  color: black;
  font-weight: 500;
  font-family: Roboto regular, sans-serif;
}

img.candidate-photo{
  border-radius: 50%;
  margin-left: 30px;
  border: 3px solid #124254;
  margin: 5px 20px 0 5px;
  position:sticky;
  display: block;
}

/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 30px 20px 0 0;
  cursor: pointer;
  display: inline-block;
  align-items: center;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: rgb(150, 145, 145);
  opacity: 5px;
}

/* When the radio button is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #18566e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fece4b;
}

#Candidate1{
  width:1000px;
  height: 200px;
  border:3px;
  border-radius: 30px;
  background-color:#eeeeee;
  margin:0 auto;
  margin-top:50px;
  position: relative;
  z-index: -1;
  box-shadow: 3px 3px 15px 0;
}
  
#Candidate1 h1{
  width:100%;
  text-indent:10px;
  padding:5px 0;
  font:bold 20px Roboto Light, sans-serif;
  color:#124254;
}

#vote-button{
  text-align: center;
}

.btn{
  font:bold 16px Roboto Light, sans-serif;
  color: #eeeeee;
  letter-spacing: 3px;
  width: 200px;
  height: 50px;
  background-color:#124254;
  margin-top: 40px;
  margin-bottom: 50px;
  border: 2px solid #124254;
  border-radius: 30px;
  position: relative;
}

.btn:hover{
  color: #fece4b;
  background-color:#124254;
  border: 2px solid #fece4b;
  border-radius: 30px;
}

footer{
  background-color: #fece4b;
  position: relative;
  height: 5%;
  margin-top: auto;
  clear: both;
  text-align: center;
  padding: 5px 0px;
  letter-spacing: 7px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 1200px){
  header{
    text-align: center;
  }
  #F-container{
    width: 80%;
    position: relative;
  }
  .candidate-box{
    flex-direction: column;

  }
  .candidate-box > div{
    margin-bottom: 5%;
  }
  }
