*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
    font-family: Roboto, Generica, sans-serif;
    background-image: url("../img/studentBG.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: relative;
}

body p{
  font-family: Generica Regular, sans-serif;
  font-weight: inherit;
  font-size: 30px;
  margin-top: 0px;
 }

nav{
  background: #f8f8f8;
  width: 100%;
  height: 30%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15 ),
              0 3px 6px rgba(0, 0, 0, .23);
  position: sticky;
  z-index: 1;
  top: 0px;
  left: 0px;
}

nav:after{
  content: '';
  clear: both;
  display: table;
}

nav .logo-pic{
          float: left;
          margin-top: 10px;
          margin-left: 20px;
          width: 60px;
          height: 60px;
 }

 nav .logo{
      float: left; 
      position: fixed;
      margin-top: 10px;
      margin-left: 90px;
 }

 nav h1{
  font-family: Roboto Regular, sans-serif;
  font-weight: inherit;
  font-size: 20px;
  margin-bottom: 0px;
 }

 nav p{
  font-family: Generica Regular, sans-serif;
  font-weight: inherit;
  font-size: 30px;
  margin-top: 0px;
 }


nav ul{
  float: right;
  padding: 0;
  height: 80px;
  margin-right: 40px;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  text-align: center;
}
nav ul li{
  float: left;
  height: 80px;
  background: #f8f8f8;
  text-align: center;
  /* margin: 0 5px; */
  width: 140px
}
nav ul li a{
  color: black;
  line-height: 80px;
  text-decoration: none;
  font-size: 1.1em;
  padding: 40px 15px 0px 15px;
  letter-spacing: 1px;
  font-family: Roboto Light, sans-serif;
}
nav ul li a:hover{
  color: blue;
  text-decoration: none;
  /* box-shadow:  inset 0 0 10px rgba(0,0,0,0.2); */
}
nav ul li:hover{
  background-color: #fece4b;
}

nav ul ul li:hover{
  background-color: #142d4f;
}
nav ul ul li a:hover{
  color: white;
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  background: #18566e;
  position: relative;
  top: 10px;
  left: -20px;
  margin: 0px;
  width: 180px;
  font-size: 0.8em;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  height: 50px;
}
nav ul ul li a{
  font-size: 0.9em;
  color:white;
  line-height: 50px;
  font-family: Roboto bold, sans-serif;
}
nav img.user-profile{
  margin-top: 20px;
  height: 40px;
  width: 40px;
}

@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: #ffffff;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color:#ffc423;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}

.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

#F-header{
  font-family: Generica regular, sans-serif;
  color: #124254;
  font-weight: inherit;
  font-size: 30px;
  position: relative;
  z-index: -1;
  letter-spacing: 2px;
  margin-top: 50px;
}

#F-container{
  width:900px;
  border:3px;
  border-radius: 30px;
  background-color:#eeeeee;
  margin:0 auto;
  margin-top:50px;
  position: relative;
  box-shadow: 3px 3px 15px 0;
}

.candidate-box{
  display: flex;
  flex-direction: row;
  width: 900px;
  padding: 20px;
}

.candidate-box > div{
  width: 900px;
  margin: auto;
}

.candidate-info{
  margin-top: 20px;
  display: inline-block;
  align-items: center;
}

#F-position{
  width: 100%;
  font-size: 22px;
  text-indent: 25px;
  color: #124254;
  padding:5px 0;
  font-weight: 500;
  font-family: 20px Roboto light sans-serif;
}

hr{
  border: 1px solid #888282;
}

#F-CandidateName{
  font-size: 18px;
  color: #124254;
  font-weight: 900;
  font-family: Roboto regular, sans-serif;
}

#F-GradeSection{
  font-size: 16px;
  color: #124254;
  font-weight: 500;
  font-family: Roboto regular, sans-serif;
}

#F-Partylist{
  font-size: 16px;
  color: black;
  font-weight: 500;
  font-family: Roboto regular, sans-serif;
}

img.candidate-photo{
  border-radius: 50%;
  margin-left: 30px;
  border: 3px solid #124254;
  margin: 5px 20px 0 5px;
  position:sticky;
  display: block;
}

/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  
  border-radius: 50%;
  margin: 30px 20px 0 0;
  cursor: pointer;
  display: inline-block;
  align-items: center;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: rgb(150, 145, 145);
  opacity: 5px;
}

/* When the radio button is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #18566e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox .checkmark:after {
 	top: 6px;
	left: 6.5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fece4b;
}

#Candidate1{
  width:1000px;
  height: 200px;
  border:3px;
  border-radius: 30px;
  background-color:#eeeeee;
  margin:0 auto;
  margin-top:50px;
  position: relative;
  z-index: -1;
  box-shadow: 3px 3px 15px 0;
}
  
#Candidate1 h1{
  width:100%;
  text-indent:10px;
  padding:5px 0;
  font:bold 20px Roboto Light, sans-serif;
  color:#124254;
}

#vote-button{
  text-align: center;
}

.btn{
  font:bold 16px Roboto Light, sans-serif;
  color: #eeeeee;
  letter-spacing: 3px;
  width: 200px;
  height: 50px;
  background-color:#124254;
  margin-top: 40px;
  margin-bottom: 50px;
  border: 2px solid #124254;
  border-radius: 30px;
  position: relative;
}

.btn:hover{
  color: #fece4b;
  background-color:#124254;
  border: 2px solid #fece4b;
  border-radius: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2%;
  background-color: #ffc423;
  text-align: center;
  color: #ffffff;
}

.footer p{
  font-family: Roboto Regular, sans-serif;
  color: black;
  letter-spacing: 6px;
  font-size: 0.8em;
}

@media (max-width: 700px){
  header{
    text-align: center;
  }
  nav{
    height: 40%;
    width: 100%;
  }
  nav .logo-pic{
    margin-top: 10px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
  }
  nav .logo{
    float: left; 
      position: fixed;
      margin-top: 10px;
      margin-left: 55px;
  }
  #candidate-container{
    width: 80%;
    position: relative;
  }
  .candidate-box{
    flex-direction: column;

  }
  .candidate-box > div{
    margin-bottom: 5%;
  }
  }
